<div class="row">
    <div class="col s12 m5">
        <div class="card-panel teal yellow">
            <span class="black-text">Crud criado para dar uma visão simplificada sobre meu conhecimento de Html5, Materialize, Angular Js e Node Js
          </span>
        </div>
    </div>
    <div class="input-field col s12">
        <input type="text" class="form-control" ng-model="pesquisa" />
        <label for="ano">Filtrar</label>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Combustivél</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="value in lista| filter:pesquisa">
                <td>{{value.modelo}}</td>
                <td>{{value.ano}}</td>
                <td>{{value.combustivel}}</td>
                <td>
                
                    <a class="btn-floating btn-large waves-effect waves-light yellow"  href="/edit/{{value.id}}"><i class="material-icons">edit</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="excluir(value.id)"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>